{% load static %}
<!-- two banner second time after two category include -->
<div class="row">
    <div class="col-md-6">
        <div class="banner banner-overlay">
            <a href="#">
                <img src="{% static 'assets/images/demos/demo-14/banners/banner-7.jpg' %}"
                     alt="Banner img desc">
            </a>

            <div class="banner-content">
                <h4 class="banner-subtitle text-white d-none d-sm-block"><a href="#">Spring Sale is
                    Coming</a></h4><!-- End .banner-subtitle -->
                <h3 class="banner-title text-white"><a href="#">Floral T-shirts and Vests
                    <br><span>Spring Sale</span></a>
                </h3><!-- End .banner-title -->
                <a href="#" class="banner-link">Shop Now <i class="icon-long-arrow-right"></i></a>
            </div><!-- End .banner-content -->
        </div><!-- End .banner -->
    </div><!-- End .col-md-6 -->

    <div class="col-md-6">
        <div class="banner banner-overlay">
            <a href="#">
                <img src="{% static 'assets/images/demos/demo-14/banners/banner-8.jpg' %}"
                     alt="Banner img desc">
            </a>

            <div class="banner-content">
                <h4 class="banner-subtitle text-white d-none d-sm-block"><a href="#">Amazing
                    Value</a></h4><!-- End .banner-subtitle -->
                <h3 class="banner-title text-white"><a href="#">Upgrade and Save
                    <br><span>On The Latest Apple Devices</span></a>
                </h3><!-- End .banner-title -->
                <a href="#" class="banner-link">Shop Now <i class="icon-long-arrow-right"></i></a>
            </div><!-- End .banner-content -->
        </div><!-- End .banner banner-overlay -->
    </div><!-- End .col-md-6 -->
</div><!-- End .row -->